# <<<-------------------- GIT IGNORE -------------------->>>
# <<<----------------------- main ----------------------->>>


# <<---------- Folders ------------>>
# <--- Agents --------->
.agents/
.agents-backup/
.codex/
.claude/
.crush/
.gemini/
.github/agents/
.github/copilot-instructions.md
.github/instructions/
.kilo/
.kilocode/
.opencode/
agents/

# <--- Backup --------->
.backups/

# <--- Editor / IDE ---> 
.cursor/
.idea/
.vscode/
.zed/

# <--- Reference ------>
.reference/

# <--- Node ----------->
node_modules/

# <--- Wiki ----------->
.wiki/


# ----------------------------------------------------------


# <<---------- Files -------------->>
# <--- Agents ------->
AGENTS.md
SKILLS.md
PROMPTS.md
TASKS.md
SESSION.md
CODEX.md
GEMINI.md
CLAUDE.md
kilo.json
opencode.json
skills-lock.json
opencode.jsonc

# <--- Reference ---->
context.md
progress.md
research.md
plan.md


# ----------------------------------------------------------


# <<---------- Logs / Debug / Temp ------------->>
*.log
*.tmp
*.bak
tmp/
debug_log.txt


# ----------------------------------------------------------
